*{
    color: white;
    margin: 0;
    padding:0;
}
body{
    background-color: #9C6644;
}
input{
    color: black;
}
.delbtn{
    margin-left: 15px;
    background-color:#572d14;
    border: none;
    padding: 2px;
}
.delbtn:hover{
    cursor: pointer;
}